/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.reacon.sdk.kotlin.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.reacon.sdk.kotlin.models.ApiError
import io.reacon.sdk.kotlin.models.DomainCatchAll
import io.reacon.sdk.kotlin.models.DomainCompanyContext
import io.reacon.sdk.kotlin.models.DomainCounts

import com.fasterxml.jackson.annotation.JsonProperty

import io.reacon.sdk.kotlin.infrastructure.ApiClient
import io.reacon.sdk.kotlin.infrastructure.ApiResponse
import io.reacon.sdk.kotlin.infrastructure.ClientException
import io.reacon.sdk.kotlin.infrastructure.ClientError
import io.reacon.sdk.kotlin.infrastructure.ServerException
import io.reacon.sdk.kotlin.infrastructure.ServerError
import io.reacon.sdk.kotlin.infrastructure.MultiValueMap
import io.reacon.sdk.kotlin.infrastructure.PartConfig
import io.reacon.sdk.kotlin.infrastructure.RequestConfig
import io.reacon.sdk.kotlin.infrastructure.RequestMethod
import io.reacon.sdk.kotlin.infrastructure.ResponseType
import io.reacon.sdk.kotlin.infrastructure.Success
import io.reacon.sdk.kotlin.infrastructure.toMultiValue

open class DomainsApi(client: Call.Factory = ApiClient.defaultClient) : ApiClient(client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            "https://api.reacon.io"
        }
    }

    /**
     * GET /v1/domains/{domain}/catch-all
     * Read domain catch-all status
     * Returns the currently fresh domain capability. catch_all is null when evidence is missing, expired or inconclusive. This reads existing evidence; it does not start an SMTP probe.
     * @param domain 
     * @return DomainCatchAll
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getDomainCatchAll(domain: kotlin.String) : DomainCatchAll {
        val localVarResponse = getDomainCatchAllWithHttpInfo(domain = domain)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DomainCatchAll
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/domains/{domain}/catch-all
     * Read domain catch-all status
     * Returns the currently fresh domain capability. catch_all is null when evidence is missing, expired or inconclusive. This reads existing evidence; it does not start an SMTP probe.
     * @param domain 
     * @return ApiResponse<DomainCatchAll?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getDomainCatchAllWithHttpInfo(domain: kotlin.String) : ApiResponse<DomainCatchAll?> {
        val localVariableConfig = getDomainCatchAllRequestConfig(domain = domain)

        return request<Unit, DomainCatchAll>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getDomainCatchAll
     *
     * @param domain 
     * @return RequestConfig
     */
    fun getDomainCatchAllRequestConfig(domain: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/domains/{domain}/catch-all".replace("{"+"domain"+"}", encodeURIComponent(domain.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/domains/{domain}/company-context
     * Get company context for a domain
     * Returns the normalized company context and up to ten jobs. company is null when no company context exists.
     * @param domain 
     * @return DomainCompanyContext
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getDomainCompanyContext(domain: kotlin.String) : DomainCompanyContext {
        val localVarResponse = getDomainCompanyContextWithHttpInfo(domain = domain)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DomainCompanyContext
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/domains/{domain}/company-context
     * Get company context for a domain
     * Returns the normalized company context and up to ten jobs. company is null when no company context exists.
     * @param domain 
     * @return ApiResponse<DomainCompanyContext?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getDomainCompanyContextWithHttpInfo(domain: kotlin.String) : ApiResponse<DomainCompanyContext?> {
        val localVariableConfig = getDomainCompanyContextRequestConfig(domain = domain)

        return request<Unit, DomainCompanyContext>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getDomainCompanyContext
     *
     * @param domain 
     * @return RequestConfig
     */
    fun getDomainCompanyContextRequestConfig(domain: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/domains/{domain}/company-context".replace("{"+"domain"+"}", encodeURIComponent(domain.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/domains/{domain}/counts
     * Count known emails for a domain
     * Returns personal, generic and total known email counts for the domain. Authenticate with X-API-Key. This endpoint reports counts only; it does not reveal email addresses. The recorded example uses a reserved example.invalid domain with zero known emails.
     * @param domain 
     * @return DomainCounts
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getDomainCounts(domain: kotlin.String) : DomainCounts {
        val localVarResponse = getDomainCountsWithHttpInfo(domain = domain)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DomainCounts
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/domains/{domain}/counts
     * Count known emails for a domain
     * Returns personal, generic and total known email counts for the domain. Authenticate with X-API-Key. This endpoint reports counts only; it does not reveal email addresses. The recorded example uses a reserved example.invalid domain with zero known emails.
     * @param domain 
     * @return ApiResponse<DomainCounts?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getDomainCountsWithHttpInfo(domain: kotlin.String) : ApiResponse<DomainCounts?> {
        val localVariableConfig = getDomainCountsRequestConfig(domain = domain)

        return request<Unit, DomainCounts>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getDomainCounts
     *
     * @param domain 
     * @return RequestConfig
     */
    fun getDomainCountsRequestConfig(domain: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/domains/{domain}/counts".replace("{"+"domain"+"}", encodeURIComponent(domain.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
