/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.reacon.sdk.kotlin.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.reacon.sdk.kotlin.models.ApiError
import io.reacon.sdk.kotlin.models.DeleteEmailResponse
import io.reacon.sdk.kotlin.models.EmailMentionsPage
import io.reacon.sdk.kotlin.models.EmailNotFoundError
import io.reacon.sdk.kotlin.models.EmailPage
import io.reacon.sdk.kotlin.models.EmailRevealResponse

import com.fasterxml.jackson.annotation.JsonProperty

import io.reacon.sdk.kotlin.infrastructure.ApiClient
import io.reacon.sdk.kotlin.infrastructure.ApiResponse
import io.reacon.sdk.kotlin.infrastructure.ClientException
import io.reacon.sdk.kotlin.infrastructure.ClientError
import io.reacon.sdk.kotlin.infrastructure.ServerException
import io.reacon.sdk.kotlin.infrastructure.ServerError
import io.reacon.sdk.kotlin.infrastructure.MultiValueMap
import io.reacon.sdk.kotlin.infrastructure.PartConfig
import io.reacon.sdk.kotlin.infrastructure.RequestConfig
import io.reacon.sdk.kotlin.infrastructure.RequestMethod
import io.reacon.sdk.kotlin.infrastructure.ResponseType
import io.reacon.sdk.kotlin.infrastructure.Success
import io.reacon.sdk.kotlin.infrastructure.toMultiValue

open class EmailsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.reacon.io")
        }
    }

    /**
     * DELETE /v1/emails/{email}
     * Delete an email and its mentions
     * Deletes the email and its mentions. deleted is false when no email row was removed. This changes stored data and must not be retried automatically.
     * @param email 
     * @return DeleteEmailResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteEmail(email: kotlin.String) : DeleteEmailResponse {
        val localVarResponse = deleteEmailWithHttpInfo(email = email)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeleteEmailResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/emails/{email}
     * Delete an email and its mentions
     * Deletes the email and its mentions. deleted is false when no email row was removed. This changes stored data and must not be retried automatically.
     * @param email 
     * @return ApiResponse<DeleteEmailResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteEmailWithHttpInfo(email: kotlin.String) : ApiResponse<DeleteEmailResponse?> {
        val localVariableConfig = deleteEmailRequestConfig(email = email)

        return request<Unit, DeleteEmailResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteEmail
     *
     * @param email 
     * @return RequestConfig
     */
    fun deleteEmailRequestConfig(email: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/emails/{email}".replace("{"+"email"+"}", encodeURIComponent(email.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/emails/{email}/mentions
     * List sources mentioning an email
     * Returns a cursor page of source mentions. X-LR-Cursor and X-LR-Limit override query values. A full page can carry a cursor even if the next page is empty; continue until nextCursor is null.
     * @param email 
     * @param limit  (optional)
     * @param cursor  (optional)
     * @param xLrLimit Overrides the query limit, then bounded to 1–500. (optional)
     * @param xLrCursor Overrides the query cursor. (optional)
     * @return EmailMentionsPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listEmailMentions(email: kotlin.String, limit: kotlin.Int? = null, cursor: kotlin.String? = null, xLrLimit: kotlin.Int? = null, xLrCursor: kotlin.String? = null) : EmailMentionsPage {
        val localVarResponse = listEmailMentionsWithHttpInfo(email = email, limit = limit, cursor = cursor, xLrLimit = xLrLimit, xLrCursor = xLrCursor)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EmailMentionsPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/emails/{email}/mentions
     * List sources mentioning an email
     * Returns a cursor page of source mentions. X-LR-Cursor and X-LR-Limit override query values. A full page can carry a cursor even if the next page is empty; continue until nextCursor is null.
     * @param email 
     * @param limit  (optional)
     * @param cursor  (optional)
     * @param xLrLimit Overrides the query limit, then bounded to 1–500. (optional)
     * @param xLrCursor Overrides the query cursor. (optional)
     * @return ApiResponse<EmailMentionsPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listEmailMentionsWithHttpInfo(email: kotlin.String, limit: kotlin.Int?, cursor: kotlin.String?, xLrLimit: kotlin.Int?, xLrCursor: kotlin.String?) : ApiResponse<EmailMentionsPage?> {
        val localVariableConfig = listEmailMentionsRequestConfig(email = email, limit = limit, cursor = cursor, xLrLimit = xLrLimit, xLrCursor = xLrCursor)

        return request<Unit, EmailMentionsPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listEmailMentions
     *
     * @param email 
     * @param limit  (optional)
     * @param cursor  (optional)
     * @param xLrLimit Overrides the query limit, then bounded to 1–500. (optional)
     * @param xLrCursor Overrides the query cursor. (optional)
     * @return RequestConfig
     */
    fun listEmailMentionsRequestConfig(email: kotlin.String, limit: kotlin.Int?, cursor: kotlin.String?, xLrLimit: kotlin.Int?, xLrCursor: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"
        xLrLimit?.apply { localVariableHeaders["x-lr-limit"] = this.toString() }
        xLrCursor?.apply { localVariableHeaders["x-lr-cursor"] = this.toString() }

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/emails/{email}/mentions".replace("{"+"email"+"}", encodeURIComponent(email.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter onlyIfFree
     */
     enum class OnlyIfFreeListEmails(val value: kotlin.String) {
         @JsonProperty(value = "true") TRUE("true"),
         @JsonProperty(value = "false") FALSE("false");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/emails
     * List and reveal emails for a domain
     * Lists emails and optional sources. This request may consume credits even though it uses GET. The nextCursor value is null at the end. X-LR-Cursor overrides cursor; when both limits are present, the smaller limit applies. Do not automatically retry a failed or interrupted request.
     * @param domain 
     * @param limit  (optional)
     * @param offset  (optional)
     * @param cursor  (optional)
     * @param sourcesLimit  (optional)
     * @param onlyIfFree  (optional)
     * @param xLrCursor Overrides the query cursor. (optional)
     * @param xLrLimit Page size; capped by the query limit when both are provided. (optional)
     * @return EmailPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listEmails(domain: kotlin.String, limit: kotlin.Int? = null, offset: kotlin.Int? = null, cursor: kotlin.String? = null, sourcesLimit: kotlin.Int? = null, onlyIfFree: OnlyIfFreeListEmails? = null, xLrCursor: kotlin.String? = null, xLrLimit: kotlin.Int? = null) : EmailPage {
        val localVarResponse = listEmailsWithHttpInfo(domain = domain, limit = limit, offset = offset, cursor = cursor, sourcesLimit = sourcesLimit, onlyIfFree = onlyIfFree, xLrCursor = xLrCursor, xLrLimit = xLrLimit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EmailPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/emails
     * List and reveal emails for a domain
     * Lists emails and optional sources. This request may consume credits even though it uses GET. The nextCursor value is null at the end. X-LR-Cursor overrides cursor; when both limits are present, the smaller limit applies. Do not automatically retry a failed or interrupted request.
     * @param domain 
     * @param limit  (optional)
     * @param offset  (optional)
     * @param cursor  (optional)
     * @param sourcesLimit  (optional)
     * @param onlyIfFree  (optional)
     * @param xLrCursor Overrides the query cursor. (optional)
     * @param xLrLimit Page size; capped by the query limit when both are provided. (optional)
     * @return ApiResponse<EmailPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listEmailsWithHttpInfo(domain: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?, cursor: kotlin.String?, sourcesLimit: kotlin.Int?, onlyIfFree: OnlyIfFreeListEmails?, xLrCursor: kotlin.String?, xLrLimit: kotlin.Int?) : ApiResponse<EmailPage?> {
        val localVariableConfig = listEmailsRequestConfig(domain = domain, limit = limit, offset = offset, cursor = cursor, sourcesLimit = sourcesLimit, onlyIfFree = onlyIfFree, xLrCursor = xLrCursor, xLrLimit = xLrLimit)

        return request<Unit, EmailPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listEmails
     *
     * @param domain 
     * @param limit  (optional)
     * @param offset  (optional)
     * @param cursor  (optional)
     * @param sourcesLimit  (optional)
     * @param onlyIfFree  (optional)
     * @param xLrCursor Overrides the query cursor. (optional)
     * @param xLrLimit Page size; capped by the query limit when both are provided. (optional)
     * @return RequestConfig
     */
    fun listEmailsRequestConfig(domain: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?, cursor: kotlin.String?, sourcesLimit: kotlin.Int?, onlyIfFree: OnlyIfFreeListEmails?, xLrCursor: kotlin.String?, xLrLimit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("domain", listOf(domain.toString()))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (sourcesLimit != null) {
                    put("sourcesLimit", listOf(sourcesLimit.toString()))
                }
                if (onlyIfFree != null) {
                    put("onlyIfFree", listOf(onlyIfFree.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"
        xLrCursor?.apply { localVariableHeaders["x-lr-cursor"] = this.toString() }
        xLrLimit?.apply { localVariableHeaders["x-lr-limit"] = this.toString() }

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/emails",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/emails/{email}
     * Reveal an email profile
     * Reveals an email profile with a bounded list of mentions and may create a team lead. May spend credits despite using GET. A 404 uses a nested error object. Do not automatically retry an interrupted request.
     * @param email 
     * @param limit  (optional)
     * @param xLrLimit Overrides the query limit, then bounded to 1–500. (optional)
     * @return EmailRevealResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun revealEmail(email: kotlin.String, limit: kotlin.Int? = null, xLrLimit: kotlin.Int? = null) : EmailRevealResponse {
        val localVarResponse = revealEmailWithHttpInfo(email = email, limit = limit, xLrLimit = xLrLimit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EmailRevealResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/emails/{email}
     * Reveal an email profile
     * Reveals an email profile with a bounded list of mentions and may create a team lead. May spend credits despite using GET. A 404 uses a nested error object. Do not automatically retry an interrupted request.
     * @param email 
     * @param limit  (optional)
     * @param xLrLimit Overrides the query limit, then bounded to 1–500. (optional)
     * @return ApiResponse<EmailRevealResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun revealEmailWithHttpInfo(email: kotlin.String, limit: kotlin.Int?, xLrLimit: kotlin.Int?) : ApiResponse<EmailRevealResponse?> {
        val localVariableConfig = revealEmailRequestConfig(email = email, limit = limit, xLrLimit = xLrLimit)

        return request<Unit, EmailRevealResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation revealEmail
     *
     * @param email 
     * @param limit  (optional)
     * @param xLrLimit Overrides the query limit, then bounded to 1–500. (optional)
     * @return RequestConfig
     */
    fun revealEmailRequestConfig(email: kotlin.String, limit: kotlin.Int?, xLrLimit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"
        xLrLimit?.apply { localVariableHeaders["x-lr-limit"] = this.toString() }

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/emails/{email}".replace("{"+"email"+"}", encodeURIComponent(email.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/emails/id/{id}
     * Reveal an email profile by ID
     * Reveals an email profile by its stable ID with a bounded list of mentions. May spend credits and create a lead. A 404 uses a nested error object. Do not automatically retry.
     * @param id 
     * @param limit  (optional)
     * @param xLrLimit Overrides the query limit, then bounded to 1–500. (optional)
     * @return EmailRevealResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun revealEmailById(id: kotlin.String, limit: kotlin.Int? = null, xLrLimit: kotlin.Int? = null) : EmailRevealResponse {
        val localVarResponse = revealEmailByIdWithHttpInfo(id = id, limit = limit, xLrLimit = xLrLimit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EmailRevealResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/emails/id/{id}
     * Reveal an email profile by ID
     * Reveals an email profile by its stable ID with a bounded list of mentions. May spend credits and create a lead. A 404 uses a nested error object. Do not automatically retry.
     * @param id 
     * @param limit  (optional)
     * @param xLrLimit Overrides the query limit, then bounded to 1–500. (optional)
     * @return ApiResponse<EmailRevealResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun revealEmailByIdWithHttpInfo(id: kotlin.String, limit: kotlin.Int?, xLrLimit: kotlin.Int?) : ApiResponse<EmailRevealResponse?> {
        val localVariableConfig = revealEmailByIdRequestConfig(id = id, limit = limit, xLrLimit = xLrLimit)

        return request<Unit, EmailRevealResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation revealEmailById
     *
     * @param id 
     * @param limit  (optional)
     * @param xLrLimit Overrides the query limit, then bounded to 1–500. (optional)
     * @return RequestConfig
     */
    fun revealEmailByIdRequestConfig(id: kotlin.String, limit: kotlin.Int?, xLrLimit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"
        xLrLimit?.apply { localVariableHeaders["x-lr-limit"] = this.toString() }

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/emails/id/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
