/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.reacon.sdk.kotlin.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.reacon.sdk.kotlin.models.ApiError
import io.reacon.sdk.kotlin.models.CreateLeadRequest
import io.reacon.sdk.kotlin.models.CreateLeadResponse
import io.reacon.sdk.kotlin.models.DeleteLeadResponse
import io.reacon.sdk.kotlin.models.ExportLeadsRequest
import io.reacon.sdk.kotlin.models.GetLeadResponse
import io.reacon.sdk.kotlin.models.LeadExportInner
import io.reacon.sdk.kotlin.models.LeadExportTooLargeError
import io.reacon.sdk.kotlin.models.LeadPage
import io.reacon.sdk.kotlin.models.UpdateLeadRequest
import io.reacon.sdk.kotlin.models.UpdateLeadResponse

import com.fasterxml.jackson.annotation.JsonProperty

import io.reacon.sdk.kotlin.infrastructure.ApiClient
import io.reacon.sdk.kotlin.infrastructure.ApiResponse
import io.reacon.sdk.kotlin.infrastructure.ClientException
import io.reacon.sdk.kotlin.infrastructure.ClientError
import io.reacon.sdk.kotlin.infrastructure.ServerException
import io.reacon.sdk.kotlin.infrastructure.ServerError
import io.reacon.sdk.kotlin.infrastructure.MultiValueMap
import io.reacon.sdk.kotlin.infrastructure.PartConfig
import io.reacon.sdk.kotlin.infrastructure.RequestConfig
import io.reacon.sdk.kotlin.infrastructure.RequestMethod
import io.reacon.sdk.kotlin.infrastructure.ResponseType
import io.reacon.sdk.kotlin.infrastructure.Success
import io.reacon.sdk.kotlin.infrastructure.toMultiValue

open class LeadsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.reacon.io")
        }
    }

    /**
     * POST /v1/teams/{teamId}/leads
     * Create a lead in a team
     * Creates a lead for the authenticated team. An API key cannot create leads for another team. Uses HTTP 200 with a lead envelope. No idempotency key is implemented; do not automatically retry.
     * @param teamId 
     * @param createLeadRequest 
     * @return CreateLeadResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createLead(teamId: kotlin.String, createLeadRequest: CreateLeadRequest) : CreateLeadResponse {
        val localVarResponse = createLeadWithHttpInfo(teamId = teamId, createLeadRequest = createLeadRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateLeadResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/teams/{teamId}/leads
     * Create a lead in a team
     * Creates a lead for the authenticated team. An API key cannot create leads for another team. Uses HTTP 200 with a lead envelope. No idempotency key is implemented; do not automatically retry.
     * @param teamId 
     * @param createLeadRequest 
     * @return ApiResponse<CreateLeadResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createLeadWithHttpInfo(teamId: kotlin.String, createLeadRequest: CreateLeadRequest) : ApiResponse<CreateLeadResponse?> {
        val localVariableConfig = createLeadRequestConfig(teamId = teamId, createLeadRequest = createLeadRequest)

        return request<CreateLeadRequest, CreateLeadResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createLead
     *
     * @param teamId 
     * @param createLeadRequest 
     * @return RequestConfig
     */
    fun createLeadRequestConfig(teamId: kotlin.String, createLeadRequest: CreateLeadRequest) : RequestConfig<CreateLeadRequest> {
        val localVariableBody = createLeadRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/teams/{teamId}/leads".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/leads/{leadId}
     * Delete a lead
     * Deletes a lead visible to the authenticated team and returns a success envelope. A repeated delete can return 404.
     * @param leadId 
     * @return DeleteLeadResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteLead(leadId: kotlin.String) : DeleteLeadResponse {
        val localVarResponse = deleteLeadWithHttpInfo(leadId = leadId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeleteLeadResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/leads/{leadId}
     * Delete a lead
     * Deletes a lead visible to the authenticated team and returns a success envelope. A repeated delete can return 404.
     * @param leadId 
     * @return ApiResponse<DeleteLeadResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteLeadWithHttpInfo(leadId: kotlin.String) : ApiResponse<DeleteLeadResponse?> {
        val localVariableConfig = deleteLeadRequestConfig(leadId = leadId)

        return request<Unit, DeleteLeadResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteLead
     *
     * @param leadId 
     * @return RequestConfig
     */
    fun deleteLeadRequestConfig(leadId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/leads/{leadId}".replace("{"+"leadId"+"}", encodeURIComponent(leadId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/teams/{teamId}/leads/export
     * Export selected leads
     * Exports leads selected by inclusion/exclusion scopes and selected/deselected IDs. The body format field selects a JSON array (default) or text/csv attachment. Oversized selections return 413. Selection scopes must contain at least one item. No automatic replay.
     * @param teamId 
     * @param exportLeadsRequest 
     * @return kotlin.collections.List<LeadExportInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun exportLeads(teamId: kotlin.String, exportLeadsRequest: ExportLeadsRequest) : kotlin.collections.List<LeadExportInner> {
        val localVarResponse = exportLeadsWithHttpInfo(teamId = teamId, exportLeadsRequest = exportLeadsRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<LeadExportInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/teams/{teamId}/leads/export
     * Export selected leads
     * Exports leads selected by inclusion/exclusion scopes and selected/deselected IDs. The body format field selects a JSON array (default) or text/csv attachment. Oversized selections return 413. Selection scopes must contain at least one item. No automatic replay.
     * @param teamId 
     * @param exportLeadsRequest 
     * @return ApiResponse<kotlin.collections.List<LeadExportInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    /** Download CSV text through the authenticated request pipeline. */
    fun exportLeadsCsv(teamId: String, exportLeadsRequest: ExportLeadsRequest): String {
        val config = exportLeadsRequestConfig(teamId, exportLeadsRequest.copy(format = ExportLeadsRequest.Format.CSV))
        config.headers["Accept"] = "text/csv"
        return when (val response = request<ExportLeadsRequest, String>(config)) {
            is Success -> {
                val contentType = response.headers.entries.firstOrNull { it.key.equals("content-type", ignoreCase = true) }?.value?.firstOrNull()?.substringBefore(';')?.trim()
                require(contentType.equals("text/csv", ignoreCase = true)) { "Expected a CSV export response" }
                response.data ?: ""
            }
            is ClientError -> throw ClientException("CSV export failed", response.statusCode, response)
            is ServerError -> throw ServerException("CSV export failed", response.statusCode, response)
            else -> throw UnsupportedOperationException("Unexpected CSV response type")
        }
    }

    fun exportLeadsWithHttpInfo(teamId: kotlin.String, exportLeadsRequest: ExportLeadsRequest) : ApiResponse<kotlin.collections.List<LeadExportInner>?> {
        require(exportLeadsRequest.format != ExportLeadsRequest.Format.CSV) { "Use exportLeadsCsv for a CSV export" }
        val localVariableConfig = exportLeadsRequestConfig(teamId = teamId, exportLeadsRequest = exportLeadsRequest)

        return request<ExportLeadsRequest, kotlin.collections.List<LeadExportInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation exportLeads
     *
     * @param teamId 
     * @param exportLeadsRequest 
     * @return RequestConfig
     */
    fun exportLeadsRequestConfig(teamId: kotlin.String, exportLeadsRequest: ExportLeadsRequest) : RequestConfig<ExportLeadsRequest> {
        val localVariableBody = exportLeadsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/teams/{teamId}/leads/export".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/leads/{leadId}
     * Retrieve a lead
     * Retrieves a lead visible to the authenticated team. A missing or inaccessible lead can return 404.
     * @param leadId 
     * @return GetLeadResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getLead(leadId: kotlin.String) : GetLeadResponse {
        val localVarResponse = getLeadWithHttpInfo(leadId = leadId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetLeadResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/leads/{leadId}
     * Retrieve a lead
     * Retrieves a lead visible to the authenticated team. A missing or inaccessible lead can return 404.
     * @param leadId 
     * @return ApiResponse<GetLeadResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getLeadWithHttpInfo(leadId: kotlin.String) : ApiResponse<GetLeadResponse?> {
        val localVariableConfig = getLeadRequestConfig(leadId = leadId)

        return request<Unit, GetLeadResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getLead
     *
     * @param leadId 
     * @return RequestConfig
     */
    fun getLeadRequestConfig(leadId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/leads/{leadId}".replace("{"+"leadId"+"}", encodeURIComponent(leadId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter sort
     */
     enum class SortListLeads(val value: kotlin.String) {
         @JsonProperty(value = "company") COMPANY("company"),
         @JsonProperty(value = "position") POSITION("position"),
         @JsonProperty(value = "tag") TAG("tag"),
         @JsonProperty(value = "name") NAME("name"),
         @JsonProperty(value = "phone") PHONE("phone"),
         @JsonProperty(value = "location") LOCATION("location"),
         @JsonProperty(value = "created_at") CREATED_AT("created_at"),
         @JsonProperty(value = "updated_at") UPDATED_AT("updated_at");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter group
     */
     enum class GroupListLeads(val value: kotlin.String) {
         @JsonProperty(value = "company") COMPANY("company"),
         @JsonProperty(value = "position") POSITION("position"),
         @JsonProperty(value = "tag") TAG("tag");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter order
     */
     enum class OrderListLeads(val value: kotlin.String) {
         @JsonProperty(value = "asc") ASC("asc"),
         @JsonProperty(value = "desc") DESC("desc");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/teams/{teamId}/leads
     * List team leads
     * Lists leads belonging to the authenticated team, with filters, optional grouping and opaque cursors. filters is a JSON-encoded object. nextCursor, nextGroupCursor and lastGroupCursor are null when absent. The handler always returns JSON; use exportLeads for CSV.
     * @param teamId 
     * @param limit  (optional)
     * @param offset  (optional)
     * @param cursor  (optional)
     * @param domain  (optional)
     * @param search  (optional)
     * @param sort  (optional)
     * @param group  (optional)
     * @param order  (optional)
     * @param position  (optional)
     * @param filters  (optional)
     * @return LeadPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listLeads(teamId: kotlin.String, limit: kotlin.Int? = null, offset: kotlin.Int? = null, cursor: kotlin.String? = null, domain: kotlin.String? = null, search: kotlin.String? = null, sort: SortListLeads? = null, group: GroupListLeads? = null, order: OrderListLeads? = null, position: kotlin.String? = null, filters: kotlin.String? = null) : LeadPage {
        val localVarResponse = listLeadsWithHttpInfo(teamId = teamId, limit = limit, offset = offset, cursor = cursor, domain = domain, search = search, sort = sort, group = group, order = order, position = position, filters = filters)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LeadPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/teams/{teamId}/leads
     * List team leads
     * Lists leads belonging to the authenticated team, with filters, optional grouping and opaque cursors. filters is a JSON-encoded object. nextCursor, nextGroupCursor and lastGroupCursor are null when absent. The handler always returns JSON; use exportLeads for CSV.
     * @param teamId 
     * @param limit  (optional)
     * @param offset  (optional)
     * @param cursor  (optional)
     * @param domain  (optional)
     * @param search  (optional)
     * @param sort  (optional)
     * @param group  (optional)
     * @param order  (optional)
     * @param position  (optional)
     * @param filters  (optional)
     * @return ApiResponse<LeadPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listLeadsWithHttpInfo(teamId: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?, cursor: kotlin.String?, domain: kotlin.String?, search: kotlin.String?, sort: SortListLeads?, group: GroupListLeads?, order: OrderListLeads?, position: kotlin.String?, filters: kotlin.String?) : ApiResponse<LeadPage?> {
        val localVariableConfig = listLeadsRequestConfig(teamId = teamId, limit = limit, offset = offset, cursor = cursor, domain = domain, search = search, sort = sort, group = group, order = order, position = position, filters = filters)

        return request<Unit, LeadPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listLeads
     *
     * @param teamId 
     * @param limit  (optional)
     * @param offset  (optional)
     * @param cursor  (optional)
     * @param domain  (optional)
     * @param search  (optional)
     * @param sort  (optional)
     * @param group  (optional)
     * @param order  (optional)
     * @param position  (optional)
     * @param filters  (optional)
     * @return RequestConfig
     */
    fun listLeadsRequestConfig(teamId: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?, cursor: kotlin.String?, domain: kotlin.String?, search: kotlin.String?, sort: SortListLeads?, group: GroupListLeads?, order: OrderListLeads?, position: kotlin.String?, filters: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (domain != null) {
                    put("domain", listOf(domain.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.value))
                }
                if (group != null) {
                    put("group", listOf(group.value))
                }
                if (order != null) {
                    put("order", listOf(order.value))
                }
                if (position != null) {
                    put("position", listOf(position.toString()))
                }
                if (filters != null) {
                    put("filters", listOf(filters.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/teams/{teamId}/leads".replace("{"+"teamId"+"}", encodeURIComponent(teamId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/leads/{leadId}/update
     * Update a lead
     * Updates a lead visible to the authenticated team and returns the updated lead envelope. This endpoint uses POST. Missing leads or an update with no changes can return 404; do not automatically replay.
     * @param leadId 
     * @param updateLeadRequest  (optional)
     * @return UpdateLeadResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateLead(leadId: kotlin.String, updateLeadRequest: UpdateLeadRequest? = null) : UpdateLeadResponse {
        val localVarResponse = updateLeadWithHttpInfo(leadId = leadId, updateLeadRequest = updateLeadRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UpdateLeadResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/leads/{leadId}/update
     * Update a lead
     * Updates a lead visible to the authenticated team and returns the updated lead envelope. This endpoint uses POST. Missing leads or an update with no changes can return 404; do not automatically replay.
     * @param leadId 
     * @param updateLeadRequest  (optional)
     * @return ApiResponse<UpdateLeadResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateLeadWithHttpInfo(leadId: kotlin.String, updateLeadRequest: UpdateLeadRequest?) : ApiResponse<UpdateLeadResponse?> {
        val localVariableConfig = updateLeadRequestConfig(leadId = leadId, updateLeadRequest = updateLeadRequest)

        return request<UpdateLeadRequest, UpdateLeadResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateLead
     *
     * @param leadId 
     * @param updateLeadRequest  (optional)
     * @return RequestConfig
     */
    fun updateLeadRequestConfig(leadId: kotlin.String, updateLeadRequest: UpdateLeadRequest?) : RequestConfig<UpdateLeadRequest> {
        val localVariableBody = updateLeadRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/leads/{leadId}/update".replace("{"+"leadId"+"}", encodeURIComponent(leadId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
