/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.reacon.sdk.kotlin.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.reacon.sdk.kotlin.models.ApiError
import io.reacon.sdk.kotlin.models.NamePatternsResponse
import io.reacon.sdk.kotlin.models.NameVerificationResponse

import com.fasterxml.jackson.annotation.JsonProperty

import io.reacon.sdk.kotlin.infrastructure.ApiClient
import io.reacon.sdk.kotlin.infrastructure.ApiResponse
import io.reacon.sdk.kotlin.infrastructure.ClientException
import io.reacon.sdk.kotlin.infrastructure.ClientError
import io.reacon.sdk.kotlin.infrastructure.ServerException
import io.reacon.sdk.kotlin.infrastructure.ServerError
import io.reacon.sdk.kotlin.infrastructure.MultiValueMap
import io.reacon.sdk.kotlin.infrastructure.PartConfig
import io.reacon.sdk.kotlin.infrastructure.RequestConfig
import io.reacon.sdk.kotlin.infrastructure.RequestMethod
import io.reacon.sdk.kotlin.infrastructure.ResponseType
import io.reacon.sdk.kotlin.infrastructure.Success
import io.reacon.sdk.kotlin.infrastructure.toMultiValue

open class NamesApi(client: Call.Factory = ApiClient.defaultClient) : ApiClient(client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            "https://api.reacon.io"
        }
    }

    /**
     * GET /v1/name/schemas
     * List supported email name patterns
     * Returns name patterns ranked by score. domain is required and validated; optional first and last query fields do not alter this static pattern list.
     * @param domain 
     * @param first  (optional)
     * @param last  (optional)
     * @return NamePatternsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listNamePatterns(domain: kotlin.String, first: kotlin.String? = null, last: kotlin.String? = null) : NamePatternsResponse {
        val localVarResponse = listNamePatternsWithHttpInfo(domain = domain, first = first, last = last)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as NamePatternsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/name/schemas
     * List supported email name patterns
     * Returns name patterns ranked by score. domain is required and validated; optional first and last query fields do not alter this static pattern list.
     * @param domain 
     * @param first  (optional)
     * @param last  (optional)
     * @return ApiResponse<NamePatternsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listNamePatternsWithHttpInfo(domain: kotlin.String, first: kotlin.String?, last: kotlin.String?) : ApiResponse<NamePatternsResponse?> {
        val localVariableConfig = listNamePatternsRequestConfig(domain = domain, first = first, last = last)

        return request<Unit, NamePatternsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listNamePatterns
     *
     * @param domain 
     * @param first  (optional)
     * @param last  (optional)
     * @return RequestConfig
     */
    fun listNamePatternsRequestConfig(domain: kotlin.String, first: kotlin.String?, last: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("domain", listOf(domain.toString()))
                if (first != null) {
                    put("first", listOf(first.toString()))
                }
                if (last != null) {
                    put("last", listOf(last.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/name/schemas",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter cacheMaxAge
     */
     enum class CacheMaxAgeVerifyName(val value: kotlin.String) {
         @JsonProperty(value = "live") LIVE("live"),
         @JsonProperty(value = "1d") _1D("1d"),
         @JsonProperty(value = "1w") _1W("1w"),
         @JsonProperty(value = "1m") _1M("1m");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter onlyIfFree
     */
     enum class OnlyIfFreeVerifyName(val value: kotlin.String) {
         @JsonProperty(value = "true") TRUE("true"),
         @JsonProperty(value = "false") FALSE("false");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/name/verify
     * Verify name-based email patterns
     * Verifies candidate addresses built from sanitized first and last names. JSON returns patterns, globalStages and results. With Accept: text/event-stream, events contain stages or individual pattern verdicts; ordinary completion is clean EOF, with no aggregate final marker. When no candidates can be built, the stream instead emits a result envelope and ends. Errors can describe individual candidates; an error event is not universally terminal. The operation may consume credits; never reconnect or replay automatically.
     * @param domain 
     * @param first  (optional)
     * @param last  (optional)
     * @param cacheMaxAge  (optional)
     * @param onlyIfFree  (optional)
     * @return NameVerificationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun verifyName(domain: kotlin.String, first: kotlin.String? = null, last: kotlin.String? = null, cacheMaxAge: CacheMaxAgeVerifyName? = null, onlyIfFree: OnlyIfFreeVerifyName? = null) : NameVerificationResponse {
        val localVarResponse = verifyNameWithHttpInfo(domain = domain, first = first, last = last, cacheMaxAge = cacheMaxAge, onlyIfFree = onlyIfFree)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as NameVerificationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/name/verify
     * Verify name-based email patterns
     * Verifies candidate addresses built from sanitized first and last names. JSON returns patterns, globalStages and results. With Accept: text/event-stream, events contain stages or individual pattern verdicts; ordinary completion is clean EOF, with no aggregate final marker. When no candidates can be built, the stream instead emits a result envelope and ends. Errors can describe individual candidates; an error event is not universally terminal. The operation may consume credits; never reconnect or replay automatically.
     * @param domain 
     * @param first  (optional)
     * @param last  (optional)
     * @param cacheMaxAge  (optional)
     * @param onlyIfFree  (optional)
     * @return ApiResponse<NameVerificationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun verifyNameWithHttpInfo(domain: kotlin.String, first: kotlin.String?, last: kotlin.String?, cacheMaxAge: CacheMaxAgeVerifyName?, onlyIfFree: OnlyIfFreeVerifyName?) : ApiResponse<NameVerificationResponse?> {
        val localVariableConfig = verifyNameRequestConfig(domain = domain, first = first, last = last, cacheMaxAge = cacheMaxAge, onlyIfFree = onlyIfFree)

        return request<Unit, NameVerificationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation verifyName
     *
     * @param domain 
     * @param first  (optional)
     * @param last  (optional)
     * @param cacheMaxAge  (optional)
     * @param onlyIfFree  (optional)
     * @return RequestConfig
     */
    fun verifyNameRequestConfig(domain: kotlin.String, first: kotlin.String?, last: kotlin.String?, cacheMaxAge: CacheMaxAgeVerifyName?, onlyIfFree: OnlyIfFreeVerifyName?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("domain", listOf(domain.toString()))
                if (first != null) {
                    put("first", listOf(first.toString()))
                }
                if (last != null) {
                    put("last", listOf(last.toString()))
                }
                if (cacheMaxAge != null) {
                    put("cacheMaxAge", listOf(cacheMaxAge.value))
                }
                if (onlyIfFree != null) {
                    put("onlyIfFree", listOf(onlyIfFree.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/name/verify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
