/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.reacon.sdk.kotlin.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.reacon.sdk.kotlin.models.ApiError
import io.reacon.sdk.kotlin.models.BatchVerificationRequest
import io.reacon.sdk.kotlin.models.BatchVerificationResponse
import io.reacon.sdk.kotlin.models.VerificationResponse

import com.fasterxml.jackson.annotation.JsonProperty

import io.reacon.sdk.kotlin.infrastructure.ApiClient
import io.reacon.sdk.kotlin.infrastructure.ApiResponse
import io.reacon.sdk.kotlin.infrastructure.ClientException
import io.reacon.sdk.kotlin.infrastructure.ClientError
import io.reacon.sdk.kotlin.infrastructure.ServerException
import io.reacon.sdk.kotlin.infrastructure.ServerError
import io.reacon.sdk.kotlin.infrastructure.MultiValueMap
import io.reacon.sdk.kotlin.infrastructure.PartConfig
import io.reacon.sdk.kotlin.infrastructure.RequestConfig
import io.reacon.sdk.kotlin.infrastructure.RequestMethod
import io.reacon.sdk.kotlin.infrastructure.ResponseType
import io.reacon.sdk.kotlin.infrastructure.Success
import io.reacon.sdk.kotlin.infrastructure.toMultiValue

open class VerificationApi(client: Call.Factory = ApiClient.defaultClient) : ApiClient(client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            "https://api.reacon.io"
        }
    }

    /**
     * POST /v1/verify/batch
     * Verify a batch of email addresses
     * Processes email addresses sequentially. A successful HTTP 200 response contains per-item results or errors. Do not replay the whole batch when only one item fails. This operation may consume credits.
     * @param batchVerificationRequest 
     * @return BatchVerificationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun verifyBatch(batchVerificationRequest: BatchVerificationRequest) : BatchVerificationResponse {
        val localVarResponse = verifyBatchWithHttpInfo(batchVerificationRequest = batchVerificationRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BatchVerificationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/verify/batch
     * Verify a batch of email addresses
     * Processes email addresses sequentially. A successful HTTP 200 response contains per-item results or errors. Do not replay the whole batch when only one item fails. This operation may consume credits.
     * @param batchVerificationRequest 
     * @return ApiResponse<BatchVerificationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun verifyBatchWithHttpInfo(batchVerificationRequest: BatchVerificationRequest) : ApiResponse<BatchVerificationResponse?> {
        val localVariableConfig = verifyBatchRequestConfig(batchVerificationRequest = batchVerificationRequest)

        return request<BatchVerificationRequest, BatchVerificationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation verifyBatch
     *
     * @param batchVerificationRequest 
     * @return RequestConfig
     */
    fun verifyBatchRequestConfig(batchVerificationRequest: BatchVerificationRequest) : RequestConfig<BatchVerificationRequest> {
        val localVariableBody = batchVerificationRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/verify/batch",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter cacheMaxAge
     */
     enum class CacheMaxAgeVerifyEmail(val value: kotlin.String) {
         @JsonProperty(value = "live") LIVE("live"),
         @JsonProperty(value = "1d") _1D("1d"),
         @JsonProperty(value = "1w") _1W("1w"),
         @JsonProperty(value = "1m") _1M("1m");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter onlyIfFree
     */
     enum class OnlyIfFreeVerifyEmail(val value: kotlin.String) {
         @JsonProperty(value = "true") TRUE("true"),
         @JsonProperty(value = "false") FALSE("false");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/verify
     * Verify an email address
     * Returns a final JSON aggregate by default. Accept: text/event-stream selects a finite stream of unnamed data events. Events carry a stage, state, result or error; there is no kind field or [DONE] marker on this endpoint. A result or error is terminal. Verification may consume credits and must not be automatically retried or reconnected.
     * @param email 
     * @param cacheMaxAge  (optional)
     * @param onlyIfFree  (optional)
     * @return VerificationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun verifyEmail(email: kotlin.String, cacheMaxAge: CacheMaxAgeVerifyEmail? = null, onlyIfFree: OnlyIfFreeVerifyEmail? = null) : VerificationResponse {
        val localVarResponse = verifyEmailWithHttpInfo(email = email, cacheMaxAge = cacheMaxAge, onlyIfFree = onlyIfFree)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as VerificationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/verify
     * Verify an email address
     * Returns a final JSON aggregate by default. Accept: text/event-stream selects a finite stream of unnamed data events. Events carry a stage, state, result or error; there is no kind field or [DONE] marker on this endpoint. A result or error is terminal. Verification may consume credits and must not be automatically retried or reconnected.
     * @param email 
     * @param cacheMaxAge  (optional)
     * @param onlyIfFree  (optional)
     * @return ApiResponse<VerificationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun verifyEmailWithHttpInfo(email: kotlin.String, cacheMaxAge: CacheMaxAgeVerifyEmail?, onlyIfFree: OnlyIfFreeVerifyEmail?) : ApiResponse<VerificationResponse?> {
        val localVariableConfig = verifyEmailRequestConfig(email = email, cacheMaxAge = cacheMaxAge, onlyIfFree = onlyIfFree)

        return request<Unit, VerificationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation verifyEmail
     *
     * @param email 
     * @param cacheMaxAge  (optional)
     * @param onlyIfFree  (optional)
     * @return RequestConfig
     */
    fun verifyEmailRequestConfig(email: kotlin.String, cacheMaxAge: CacheMaxAgeVerifyEmail?, onlyIfFree: OnlyIfFreeVerifyEmail?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("email", listOf(email.toString()))
                if (cacheMaxAge != null) {
                    put("cacheMaxAge", listOf(cacheMaxAge.value))
                }
                if (onlyIfFree != null) {
                    put("onlyIfFree", listOf(onlyIfFree.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/verify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
