/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.reacon.sdk.kotlin.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.reacon.sdk.kotlin.models.ApiError
import io.reacon.sdk.kotlin.models.AutomationHookCreated
import io.reacon.sdk.kotlin.models.CreateAutomationHookRequest
import io.reacon.sdk.kotlin.models.CreateSegmentInstallationRequest
import io.reacon.sdk.kotlin.models.SegmentInstallationCreated

import com.fasterxml.jackson.annotation.JsonProperty

import io.reacon.sdk.kotlin.infrastructure.ApiClient
import io.reacon.sdk.kotlin.infrastructure.ApiResponse
import io.reacon.sdk.kotlin.infrastructure.ClientException
import io.reacon.sdk.kotlin.infrastructure.ClientError
import io.reacon.sdk.kotlin.infrastructure.ServerException
import io.reacon.sdk.kotlin.infrastructure.ServerError
import io.reacon.sdk.kotlin.infrastructure.MultiValueMap
import io.reacon.sdk.kotlin.infrastructure.PartConfig
import io.reacon.sdk.kotlin.infrastructure.RequestConfig
import io.reacon.sdk.kotlin.infrastructure.RequestMethod
import io.reacon.sdk.kotlin.infrastructure.ResponseType
import io.reacon.sdk.kotlin.infrastructure.Success
import io.reacon.sdk.kotlin.infrastructure.toMultiValue

open class WebhooksApi(client: Call.Factory = ApiClient.defaultClient) : ApiClient(client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            "https://api.reacon.io"
        }
    }

    /**
     * POST /v1/hooks
     * Create an automation webhook
     * Creates an event subscription for the API key team. The signing secret is returned on creation; store it securely and exclude it from logs and documentation recordings.
     * @param createAutomationHookRequest 
     * @return AutomationHookCreated
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createAutomationHook(createAutomationHookRequest: CreateAutomationHookRequest) : AutomationHookCreated {
        val localVarResponse = createAutomationHookWithHttpInfo(createAutomationHookRequest = createAutomationHookRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AutomationHookCreated
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/hooks
     * Create an automation webhook
     * Creates an event subscription for the API key team. The signing secret is returned on creation; store it securely and exclude it from logs and documentation recordings.
     * @param createAutomationHookRequest 
     * @return ApiResponse<AutomationHookCreated?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createAutomationHookWithHttpInfo(createAutomationHookRequest: CreateAutomationHookRequest) : ApiResponse<AutomationHookCreated?> {
        val localVariableConfig = createAutomationHookRequestConfig(createAutomationHookRequest = createAutomationHookRequest)

        return request<CreateAutomationHookRequest, AutomationHookCreated>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createAutomationHook
     *
     * @param createAutomationHookRequest 
     * @return RequestConfig
     */
    fun createAutomationHookRequestConfig(createAutomationHookRequest: CreateAutomationHookRequest) : RequestConfig<CreateAutomationHookRequest> {
        val localVariableBody = createAutomationHookRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/hooks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/origin-installations/segment
     * Create a Segment origin installation
     * Creates a signing identity for Segment-origin requests. The response contains a secret and is marked Cache-Control: no-store. Store the secret securely and redact it from recordings.
     * @param createSegmentInstallationRequest 
     * @return SegmentInstallationCreated
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createSegmentInstallation(createSegmentInstallationRequest: CreateSegmentInstallationRequest) : SegmentInstallationCreated {
        val localVarResponse = createSegmentInstallationWithHttpInfo(createSegmentInstallationRequest = createSegmentInstallationRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SegmentInstallationCreated
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/origin-installations/segment
     * Create a Segment origin installation
     * Creates a signing identity for Segment-origin requests. The response contains a secret and is marked Cache-Control: no-store. Store the secret securely and redact it from recordings.
     * @param createSegmentInstallationRequest 
     * @return ApiResponse<SegmentInstallationCreated?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createSegmentInstallationWithHttpInfo(createSegmentInstallationRequest: CreateSegmentInstallationRequest) : ApiResponse<SegmentInstallationCreated?> {
        val localVariableConfig = createSegmentInstallationRequestConfig(createSegmentInstallationRequest = createSegmentInstallationRequest)

        return request<CreateSegmentInstallationRequest, SegmentInstallationCreated>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createSegmentInstallation
     *
     * @param createSegmentInstallationRequest 
     * @return RequestConfig
     */
    fun createSegmentInstallationRequestConfig(createSegmentInstallationRequest: CreateSegmentInstallationRequest) : RequestConfig<CreateSegmentInstallationRequest> {
        val localVariableBody = createSegmentInstallationRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/origin-installations/segment",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/hooks/{hookId}
     * Delete an automation webhook
     * Deletes a subscription in the API key team. Returns 204 without a body or 404 if no subscription matches.
     * @param hookId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAutomationHook(hookId: kotlin.String) : Unit {
        val localVarResponse = deleteAutomationHookWithHttpInfo(hookId = hookId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/hooks/{hookId}
     * Delete an automation webhook
     * Deletes a subscription in the API key team. Returns 204 without a body or 404 if no subscription matches.
     * @param hookId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAutomationHookWithHttpInfo(hookId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteAutomationHookRequestConfig(hookId = hookId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAutomationHook
     *
     * @param hookId 
     * @return RequestConfig
     */
    fun deleteAutomationHookRequestConfig(hookId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/hooks/{hookId}".replace("{"+"hookId"+"}", encodeURIComponent(hookId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/origin-installations/segment/{installationId}
     * Delete a Segment origin installation
     * Deletes the installation within the API key team. Returns 204 with no body or 404 if no installation matches.
     * @param installationId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteSegmentInstallation(installationId: kotlin.String) : Unit {
        val localVarResponse = deleteSegmentInstallationWithHttpInfo(installationId = installationId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/origin-installations/segment/{installationId}
     * Delete a Segment origin installation
     * Deletes the installation within the API key team. Returns 204 with no body or 404 if no installation matches.
     * @param installationId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteSegmentInstallationWithHttpInfo(installationId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteSegmentInstallationRequestConfig(installationId = installationId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteSegmentInstallation
     *
     * @param installationId 
     * @return RequestConfig
     */
    fun deleteSegmentInstallationRequestConfig(installationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/origin-installations/segment/{installationId}".replace("{"+"installationId"+"}", encodeURIComponent(installationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
